<h2>
  Mot de passe oublié
</h2>
<p>Veuillez indiquer votre email pour envoyer la réinitialisation du mot de passe</p>
<p-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-floatLabel variant="on">
      <input
        pInputText
        type="email"
        formControlName="email"
        [class.ng-dirty]="getControl(['email']).touched"
      >
      <label for="email">Email<span style="color:var(--p-floatlabel-invalid-color)">*</span></label>
    </p-floatLabel>
    <app-form-error [formGroup]="form" controlName="email"></app-form-error>
  
    <p-button [disabled]="form.invalid" type="ngSubmit" label="Envoyer" />
  </form>
</p-card>