<!-- <p-button (click)="goTo('home')">
  <img [src]="logoPath" width="100px" height="auto" />
</p-button> -->
<div class="container">
  <div class="item">
    <p-button icon="pi pi-home" (click)="goTo('home')"></p-button>
    <p-button icon="pi pi-plus" (click)="goTo('addrace')"></p-button>
    <p-button link="true" label="Résultats" routerLink="races"></p-button>
  </div>

  <div class="item grow">
    <p-autocomplete
      #searchField
      type="text"
      minLength="2"
      [lazy]="true"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
      placeholder="Chercher une course ou un coureur"
      [(ngModel)]="search"
      [suggestions]="suggestions"
      [optionLabel]="getLabel"
      [autoOptionFocus]="true"
      (completeMethod)="complete($event)"
      (onSelect)="onSelect($event)"
    />
  </div>

  <div class="item">
    @if (this.isConnected) {
      @if (user$ | async; as user) {
        @if (user.role == 'Admin') {
          <p-button [link]="true" (onClick)="goTo('admin')" label="page admin"></p-button>
        }
        <p-button [link]="true" (onClick)="goTo('profile')" [label]="user.firstname + ' ' + user.lastname"></p-button>
      }
      <p-button [link]="true" label="Se déconnecter" (onClick)="logout()"></p-button>
    } @else {
      <app-register></app-register>
      <app-login></app-login>
    }
  </div>
</div>
