<h2>
  {{ race.raceName }} {{ race.distance }}km
</h2>

<div class="card flex justify-center">
  <p-iconfield>
    <input type="text" pInputText [(ngModel)]="nameSearch" placeholder="Chercher un coureur" (keydown.enter)="search()" />
    <p-inputicon styleClass="pi pi-times" (click)="clear()" />
  </p-iconfield>
  <p-button label="Chercher" type="submit" (onClick)="search()" />
</div>

<p-table
  [value]="results.objects"
  styleClass="p-datatable-sm"
  stripedRows
  [tableStyle]="{ 'min-width': '50%' }"
  scrollable="true"
  scrollHeight="80vh"

  paginator="true"
  paginatorPosition="top"
  lazy="true"
  [rows]="pagination.limit"
  [first]="pagination.first"
  [totalRecords]="totalRecords"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  (onPage)="onPageChange($event)"
  [rowsPerPageOptions]="paginatorOptions"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Général</th>
      <th>Nom Prénom</th>
      <th>MF</th>
      <th>Temps</th>
      <th>Vitesse</th>
      <th>Allure</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-result>
    <tr>
      <td>{{ result.generalRankShown }}</td>
      @if (!result.runner.isAnonymous) {
        <td><p-button styleClass="noPadding" link="true" [routerLink]="['/runner', result.runnerId]" label="{{ result.runner.lastname }} {{ result.runner.firstname }}" /></td>
      } @else {
        <td>{{ result.runner.lastname }} {{ result.runner.firstname }}</td>
      }
      <td>{{ result.runner.gender }} ({{ result.genderRank }})</td>
      <td>{{ result.time }}</td>
      <td>{{ result.speed | number: '1.2-2' }} km/h</td>
      <td>{{ result.pace }} min/km</td>
    </tr>
  </ng-template>
</p-table>
