<div class="error" *ngIf="ctrl?.touched && ctrl?.errors">
  <span *ngIf="ctrl?.errors?.['passwordMatch']">
      Les mots de passe sont différents.
  </span>

  <span *ngIf="ctrl?.errors?.['required']">
    Le champ {{controlName}} est requis.
  </span>

  <span *ngIf="ctrl?.errors?.['errorMessage']">
    {{ ctrl?.errors?.['errorMessage'] }}
  </span>

  <span *ngIf="ctrl?.errors?.['digit']">
      {{ ctrl?.errors?.['digit'].message }}
  </span>
  <span *ngIf="ctrl?.errors?.['uppercase']">
      {{ ctrl?.errors?.['uppercase'].message }}
  </span>
  <span *ngIf="ctrl?.errors?.['lowercase']">
      {{ ctrl?.errors?.['lowercase'].message }}
  </span>
  <span *ngIf="ctrl?.errors?.['specialChar']">
      {{ ctrl?.errors?.['specialChar'].message }}
  </span>
</div>