<h2>
  Réinitialisation du mot de passe
</h2>
<p>Veuillez entrer votre nouveau mot de passe</p>
<p-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formseparator"></div>
    <p-floatLabel variant="on">
      <input
        pInputText
        type="password"
        formControlName="password"
        (change)="checkPasswordMatch()"
        [class.ng-dirty]="getControl(['password']).touched"
      >
      <label for="password">Mot de passe<span style="color:var(--p-floatlabel-invalid-color)">*</span></label>
    </p-floatLabel>
    <app-form-error [formGroup]="form" controlName="password"></app-form-error>

    <div class="formseparator"></div>
    <p-floatLabel variant="on">
      <input
        pInputText
        type="password"
        formControlName="passwordConfirmation"
        [class.ng-dirty]="getControl(['passwordConfirmation']).touched"
      >
      <label for="passwordConfirmation">Confirmation<span style="color:var(--p-floatlabel-invalid-color)">*</span></label>
    </p-floatLabel>
    <app-form-error [formGroup]="form" controlName="passwordConfirmation"></app-form-error>
    <br>
  
    <p-button [disabled]="form.invalid" type="ngSubmit" label="Envoyer" />
  </form>
</p-card>